.playground {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
}

.header {
    margin-bottom: 40px;
    font-size: 48px;
    text-align: center;
    color: #fff;
    background-color: #0e0e0e;
}

#content {
    display: block;
}

.playground-content {
    padding-top: 50px;
    min-height: 95vh;
}

.page-wrapper {
    display: flex;
    color: #333;
}

.playground-api-json .api-token {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 4px;
    background-color: #151717;
    padding: 24px;
    margin-bottom: 24px;
}

.playground-api-json .playground-box {
    border-radius: 6px;
    border: none;
    background-color: #151717;
    padding: 24px 24px 82px;
    margin-bottom: 40px;
    position: relative;
}

.playground-api-json .api-token .vertical-separator {
    background-color: rgba(37, 37, 37, 0.72);
    margin: 0 24px 0 0;
    height: inherit;
    width: 2px;
}

.playground-api-json .playground-box .json-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 26px 0 40px;
}

.btn-reset {
    width: fit-content;
    height: fit-content;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff444f;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.btn-submit {
    background-color: #151717;
    color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 10px 16px;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 700;
    border: solid 2px #999;
}

.api-token-input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 1.43;
    border: none;
    border-radius: 4px;
    color: #c2c2c2;
    background-color: #0e0e0e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.btn-authenticate {
    width: 118px;
    height: 42px;
    padding: 10px 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #ff444f;
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
}

.bold {
    font-weight: 700;
}

.api-token fieldset {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 12px;
    font-size: 14px;
    line-height: 1.43;
    border: none;
    color: #333;
}

.playground-page-wrapper {
    display: flex;
    width: 95%;
}
.playground-api-json {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    width: 50%;
}

.playground-api-docs {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.playground-api-json .api-token .cta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 14px;
    width: 70%;
    margin-bottom: unset;
}

.playground-api-json .api-token .cta .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.43;
    text-align: center;
    color: #c2c2c2;
}

.playground-api-json .api-token .cta a .cta-button {
    padding: 10px 16px;
    border-radius: 4px;
    border: solid 2px #6e6e6e;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.playground-api-json .playground-box .inline-label {
    position: absolute;
    top: 17px;
    left: 30px;
    font-size: 10px;
    padding: 2px 4px;
    background-color: #0e0e0e;
}

.playground-api-json .playground-box textarea {
    min-height: 200px;
    width: calc(100% - 16px);
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background-color: #0e0e0e;
    color: #c2c2c2;
    resize: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.dark {
    color: #fff;
    background-color: #0e0e0e;
}
